body>header {
  background: var(--pico-primary-background);
  position: sticky;
  top: 0;

  nav>ul li a {
    color: var(--pico-primary-inverse);
  }
}

/* TODO: Should probaby use a container for the page content like Odin does */
.toc {
  position: fixed;
  height: calc(100vh - 116px);
  width: 280px;
  top: 116px;
  left: 0;
  overflow-y: auto;
  --pico-nav-element-spacing-vertical: 0.25rem;

  & ul {
    display: block;

    &>li {
      margin-left: 1rem;
      width: 100%;
    }
  }
}

main>article {
  width: 60%;
  margin: auto;
}